// PUG SYNTAX
// HTML DE IC ICE YAZMAK ISTERSEK "TAB" TUSUNU KULALNACAGIZ
doctype html 
head
    title Natours

// MESELA H1 KODU ILE BIR TOUR NAME YAZALIM
h1 The Park Camper 
// <h1>The Park Camper </h1>